body {
    font-family: 'IM Fell DW Pica', helvetica;
    width: 100%;
}
header {
    display: none;
}
#github {
    display: none;
}
.about {
    display: none;
}
a {
    text-decoration: none;
}
#map_canvas {
	float:left;
    width: 70%;
    height: 80%;
}
#marker_info {
	float:left;
}
img.worldcat {
    height: 100px;
    vertical-align: middle;
}
